---
import { getIP } from "../utils";
const hash = process.env.CF_PAGES_COMMIT_SHA || process.env.COMMIT_HASH;
const date = new Date().toUTCString();
const year = new Date().getFullYear();
const ip = getIP(Astro.request);
const host = Astro.request.headers.get("host");
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="stylesheet" href="/fonts/fonts.css" />
    <link rel="stylesheet" href="/style.css" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>248.no</title>
  </head>
  <body>
    <pre>

{date}
{(ip && host) && (
  <>Serving {host} to {ip}</>
)}
{hash && (
  <>On commit <a href={`https://github.com/rosvik/248.no/commit/${hash}`}>{hash}</a></>
)}


<span>Welcome to 248.no!</span>

├ <span>248.no is a collection of projects that are maintained (to</span>
│  <span>some degree) by Johannes Røsvik. All of these projects</span>
│  <span>are open source, libre licensed, and very much accepting</span>
│  <span>contributions!</span>
│
│
├── <span><a href="https://string.248.no">string.248.no/</a></span>
│   │   "A static string analyzer"
│   └── <a href="https://github.com/rosvik/string.248.no">github.com/rosvik/string.248.no</a>
│
├── <span><a href="https://cve.248.no">cve.248.no/</a></span>
│   │   "A CVE lookup service"
│   └── <a href="https://github.com/rosvik/cve.248.no">github.com/rosvik/cve.248.no</a>
│
├── <span><a href="https://ip.248.no">ip.248.no/</a></span>
│   │   "A super simple site that returns your ip address"
│   └── <a href="https://github.com/rosvik/ip.248.no">github.com/rosvik/ip.248.no</a>
│
├── <span><a href="https://http.248.no">http.248.no/</a></span>
│   │   "A super simple site that returns incoming http
│   │    headers"
│   └── <a href="https://github.com/rosvik/http.248.no">github.com/rosvik/http.248.no</a>
│
├── <span><a href="https://img.248.no">img.248.no/</a></span>
│   │   "A site and API for image conversion and resizing"
│   └── <a href="https://github.com/rosvik/img.248.no">github.com/rosvik/img.248.no</a>
│
├── <span><a href="https://qr.248.no">qr.248.no/</a></span>
│   │   "A site for generating QR codes"
│   └── <a href="https://github.com/rosvik/qr.248.no">github.com/rosvik/qr.248.no</a>
│
└── <span><a href="https://og.248.no">og.248.no/</a></span>
    │   "An API for fetching Open Graph data from websites"
    └── <a href="https://github.com/rosvik/og.248.no">github.com/rosvik/og.248.no</a>

<span>You can reach out on</span>

 * <span>GitHub</span>:    <a href="https://github.com/rosvik">@rosvik</a>
 * <span>Mastodon</span>:  <a href="https://mastodon.social/@rosvik">@rosvik@mastodon.social</a>
 * <span>Email</span>:     <a href="mailto:johannes@konstruktivkritikk.no">johannes@konstruktivkritikk.no</a>
 * <span>LinkedIn</span>:  <a href="https://www.linkedin.com/in/rosvik/">@Johannes Røsvik</a>


Copyleft 2018-{year} Johannes Røsvik (<a href="https://github.com/rosvik/248.no/blob/master/LICENSE">AGPL-3.0</a>).

EOF
</pre>
  </body>
</html>
